# systemd service per far partire il gestore dei bottoni tramite GPIO all'avvio

[Unit]
# nome del programma
Description=retrogame
# eseguto che l'interfaccia di retroarch è diventata attiva
# Si potrebbe anche far partire prima, da testare
After=retroarch.target

[Service]
Type=simple
ExecStart=/storage/.bin/retrogame /storage/.bin/retrogame.cfg

[Install]
WantedBy=default.target
